
.banner-section{
    height: 100vh;
    min-height: 600px;
    padding-top: 105px;
    .banner{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 244px;
        height: 100%;
    }
    .text-block{
        position: absolute;
        bottom: 76px;
        padding-top: 55px;
        .strokes{
            top: 0;
            width: 71%;
        }
        .text{
            padding-left: 78px;
            .title-inner{
                letter-spacing: 4px;
                span:nth-child(2){
                    margin-left: 55px;
                }
            }
            .content-inner{
                position: relative;
                padding-left: 85px;
                margin-top: 10px;
                margin-left: 30px;
                letter-spacing: 2px;
                &::before{
                    content:"";
                    display: block;
                    position: absolute;
                    top: 13px;
                    left: 0;
                    width: 66px;
                    height: 1px;
                    background: #C7A164;
                }
            }
        }
    }
    .scroll-block{
        position: absolute;
        right: 40px;
        bottom: 68px;
        .scroll{
            transform: rotate(90deg);
            letter-spacing: 1px;
        }
        i{
            font-size: 80px;
            margin-left: 10px;
            margin-top: 10px;
            display: inline-block;
        }
    }
    @media(max-width:1199px){
        padding-top: 94px;
        .banner{
            margin-left: 100px;
        }
        .text-block .text{
            padding-left: 40px;
        }
    }
    @media(max-width:767px){
        height: auto;
        min-height: auto;
        padding-top: 138px;
        .banner{
            margin-left: 0;
            height: 400px;
        }
        .text-block{
            position: relative;
            margin-top: -68px;
            padding-top: 0;
            bottom: auto;
            .text{
                padding-left: 47px;
                padding-right: 40px;
                .title-inner{
                    letter-spacing: 2px;
                    span:nth-child(2){
                        margin-left: 23px;
                    }
                }
                .content-inner{
                    margin-left: 0;
                    padding-left: 40px;
                    margin-top: 3px;
                    line-height: 1.3;
                    &::before{
                        width: 28px;
                    }
                    
                }   
                
            }
        }
    }
    @media(max-width:575px){
        .banner {
            height: 280px;
        }
    }
}
.fw-600 {
    font-weight: 600;
}

.bg-blue{
    background: #08184B;
}
.notoSerifTC {
    font-family: "Noto Serif TC";
}
.TrajanPro{
    font-family: "TrajanPro";
}
@font-face {
    font-family:"TrajanPro";
    src: url(TrajanPro-Regular.ttf);
}

.fs-145{
    font-size: 145px;
}
.fs-130 {
    font-size: 130px;
}
.fs-103{
    font-size: 103px;
}
.fs-55{
    font-size: 55px;;
}
.fs-50{
    font-size: 50px;
}
.fs-38{
    font-size: 38px;
}
.fs-36{
    font-size: 36px;
}
.fs-32{
    font-size: 32px;
}
.fs-30{
    font-size: 30px;
}
.fs-28{
    font-size: 28px;
}
.fs-26{
    font-size: 26px;
}
.fs-24{
    font-size: 24px;
}
.fs-20{
    font-size: 20px;
}
.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.fs-12 {
    font-size: 12px;
}



@media (max-width:1399px) {
    .fs-145{
        font-size: 130px;
    }
    .fs-130{
        font-size: 110px;
    }
    .fs-103{
        font-size: 90px;
    }
}
@media (max-width:1199px) {
    .fs-145 {
        font-size: 110px;
    }
    .fs-130 {
        font-size: 90px;
    }
    .fs-103{
        font-size: 80px;
    }
}
@media (max-width:991px){
    .fs-145 {
        font-size: 80px;
    }
    .fs-130 {
        font-size: 70px;
    }
    .fs-103 {
        font-size: 60px;
    }
    .fs-55{
        font-size: 40px;
    }
}
@media (max-width:767px) {
    .fs-145 {
        font-size: 70px;
    }
    .fs-130{
        font-size: 50px;
    }
    .fs-103 {
        font-size: 40px;
    }
    .fs-55 {
        font-size: 32px;
    }
    .fs-50 {
        font-size: 30px;
    }
    .fs-38{
        font-size: 30px;
    }
    .fs-36 {
        font-size: 30px;
    }
    .fs-32{
        font-size: 26px;
    }
    .fs-30{
        font-size: 20px;
    }
    .fs-20{
        font-size: 18px;
    }
}
@media (max-width:575px) {
    .fs-145{
        font-size: 50px;
    }
    .fs-130{
        font-size: 30px;
    }
}
@media (max-width:390px) {
    .fs-145 {
        font-size: 40px;
    }
}
@media (max-width:360px) {
    .fs-145 {
        font-size: 30px;
    }
}

.text-white{
    color:white;
}
.text-gray{
    color:#9E9E9E;
}
.text-lightwhite{
    color:#B1BCC2;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-hover-white{
    transition: color .3s;
    &:hover{
        color:white;
    }
}
.noneStyle{
    list-style: none;
}

.les-1 {
    letter-spacing: 1px;
}
.lh-1{
    line-height: 1;
}
.lh-12{
    line-height: 1.2;
}
.lh-18 {
    line-height: 1.8;
}
.z-1 {
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.fw-SemiBold{
    font-weight: 600;
}

.bg-hover-golden {
    &:hover {
        background: #D0B180 !important;
    }

    transition:background .3s;
}
.writing-vertical {
    writing-mode: vertical-lr
}
.object-fit-cover{
    object-fit: cover;
}

.swiper-pagination.style-1{
    .swiper-pagination-bullet{
        position: relative;
        width: 9px;
        height: 9px;
        background: transparent;
        margin: 0 13px;
        &::before{
            content:"";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 5px;
            height: 5px;
            background: white;
            border-radius: 50%;
            transition: all .3s linear;
        }
        &::after{
            content:"";
            display: block;
            position: absolute;
            top: 50%;
            right: -17px;
            transform: translateY(-50%);
            width: 18px;
            height: 2px;
            background: white;
            opacity: 0;
            transition: opacity .3s;
        }
        &.swiper-pagination-bullet-active{
            &::before {
                width: 9px;
                height: 9px;
            }
            &::after{
                opacity: 1;
            }
        }
    }
}
.text-style-1{
    font-size: 38px;
    letter-spacing: 7px; 
    >span{
        writing-mode: vertical-rl;
        background: #08184B;
        border:1px solid rgba(255,255,255,0.4);
        line-height: 1;
        padding: 11px 10px 7px 10px;
        white-space: nowrap;
        display: block;
        &:nth-child(1){
            order:1;
            margin-left: 8px;
        }
        .spec{
            writing-mode:initial;
            width: 18px;
            margin-bottom: -12px;
            margin-bottom: 6px;
        }
    }
    @media (max-width:767px) {
        font-size: 24px;
        letter-spacing: 4px;
        .long {
            height: 270px;
        }
        >span{
            .spec{
                width: 15px;
            }
        }
    }
}
.swiper-buttons.style-1 {
    font-size: 24px;
    .swiper-button {
        width: 66px;
        height: 66px;
        background: #A08862;
        color: white;
        right: auto;

        &.swiper-button-next {
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: rgba(255, 255, 255, 0.2);
                width: 1px;
                height: 26px;
            }
        }
    }
    @media (max-width:991px){
        .swiper-button {
            width: 52px;
            height: 52px;
        }
    }
    @media (max-width:767px){
        font-size: 16px;
    }
}