footer{
    background: rgba(1, 17, 34, 1);
    .center-block{
        >div{
            &:nth-child(1){
                padding-right: 90px;
                border-right:1px solid rgba(255, 255, 255, 0.3);
            }
             &:nth-child(2){
                 padding-left: 90px;
             }
        }
    }
    .bottom-block{
        background: #000A3C;
        padding-left: 40px;
        padding-right: 40px;
        .bottom-box{
            max-width: 1560px;
        }
    }
    .googleMap{
        border-bottom:1px solid #9E9E9E;
    }
    .phone-box{
        padding-right: 101px;
    }
    .logos{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .logo-1{
        margin-bottom: 11px;
    }
    .society{ 
        width: 38px;
        height: 38px;
        border:1px solid #9E9E9E;
        border-radius: 50%;
        color:#9E9E9E;
    }
    @media(max-width:1199px){
        .logos{
            transform: none;
            position: static;
        }
        .center-block>div{
            &:nth-child(1){
                padding-right: 60px;
            }
            &:nth-child(2) {
                padding-left: 60px;
            }
        }
    }
    @media(max-width:991px){
        .top-block{
            padding-left: 30px;
            padding-right: 30px;
        }
        .center-block{
            padding-right: 30px;
            padding-left: 30px;
            >div{      
                &:nth-child(1){
                    border:0;
                    padding-right: 0;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                }
                &:nth-child(2){
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .bottom-block .bottom-box{
            text-align: center;
        }
    }
    @media(max-width:767px) {
        .bottom-block{
            padding-right: 30px;
            padding-left: 30px;
            line-height: 1;
        }
    }
    @media(max-width:575px) {
        .bottom-block .bottom-box {
            text-align: left;
        }
    }
}