header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:white;
    z-index: 20;
    padding-right: 15px;
    &.scrollMode{
        .menu-wrapper {
            height: 94px;
            .logo-wrapper {
                .logo{
                    opacity: 0;
                    pointer-events: none;
                }
                .logo-2{
                    opacity: 1;
                    pointer-events: all;
                } 
            }
        }
    }
    .menu-wrapper{
        height: 105px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: height .3s;
        .logo-wrapper{
            position: relative;
            margin-left: 50px;
            .logo{
                
                position: absolute;
                top: 10px;
                left: 0;
                transition: opacity .3s;
            }
            .logo-2{
                opacity: 0;
                pointer-events: none;
                transition: opacity .3s;
            }
        }

    
        .menu{
            font-weight: bold;
            margin-right: 20px;
            li{
                padding: 0 31px;
                &+li{
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 13px;
                        background: rgba(255, 255, 255, 0.7);
                    }
                }
                a{
                    padding: 5px 0px;
                    color:rgba(255,255,255,0.7);
                    transition: color .3s;
                    &:hover,
                    &.active{
                        color:rgba(255, 255, 255, 1);
                    }
                }
            }
        }
        .society{
            font-size: 22px;
        }
        .reserve-btn{
            height: 40px;
            width: 140px;
            background: #A08862;
        }
    }
    @media (max-width:1199px){
        .menu-wrapper{
            height: 94px;
            .logo-wrapper{
                margin-left: 40px;
                .logo-2{
                    opacity: 1;
                    pointer-events: all;
                }

            }

        }
    }
    @media (max-width:991px){
        .menu-wrapper .menu li{
                padding: 0 14px;
        }
    }
    @media (max-width:767px){
        height: 138px;
        background: rgba(8, 83, 99, 0.9);
        &.openMenu{
            .menu-wrapper{
                transform: none;
            }
            .mobile-header .menu-toggle {
                .bar{

                    &.bar-1{
                        top: 6px;
                        transform: rotate(-45deg);
                        width: 20px;
                    }
                    &.bar-2{
                        opacity: 0;
                    }
                    &.bar-3{
                        top: 6px;
                        transform: rotate(45deg);
                        width: 20px;
                    }
                }
            }
        }
        .mobile-header{
            padding: 0 20px;
            .mobile-logo{
                width: 105px;
                img{
                    width: 100%;
                }
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .menu-toggle {
                position: absolute;
                height: 11px;
                top: 26px;
                right: 28px;
                width: 24px;
                .bar {
                    height: 1px;
                    background: white;
                    width: 24px;
                    transition: all 0.5s;
                    position: absolute;
                    left: 0;
                    &.bar-2 {
                        top: 5px;
                    }

                    &.bar-3 {
                        top: 9px;
                    }
                }
            }
        }

        .menu-wrapper{
            z-index: 2;
            height: auto;
            overflow-y: auto;
            position: fixed;
            width: 100%;
            top: 138px;
            left: 0;
            height: calc(100vh - 138px);
            transform: translateX(-100%);
            transition: transform 0.3s;
            background: #08184B;
            flex-direction: column;
            justify-content: space-between;
            .right-block{
                flex-direction: column;
                height: 100%;
                width: 100%;
                padding-top: 38px;
                .menu{
                    flex-grow: 1;
                    width: 100%;
                    margin-right: 0;
                    flex-direction: column;
                    justify-content: space-around;
                    min-height: 254px;
                    li{
                        padding: 0;
                        flex:0 0 33.33%;
                        border-bottom:1px solid rgba(255,255,255,0.15);
                        display: flex;
                        padding-left: 10px;
                        &::before{
                            display: none;
                        }
                        a{
                            color:white;
                            display: table;
                            width: 296px;
                            margin: auto;
                            letter-spacing: 0.8px;
                            >span{
                                >span{
                                    &:nth-child(1){
                                        margin-top: 8px;
                                        margin-right: 10px;
                                    }
                                    &:nth-child(2){
                                        >span{
                                            &:nth-child(1){
                                                font-size: 26px;
                                                font-weight: bold;
                                            }
                                            &:nth-child(2){
                                                font-size: 16px;
                                                font-weight: 600;
                                                margin-top: -5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .other-box{
                    flex-direction: column;
                    flex-wrap: nowrap;
                    .tel{
                        letter-spacing: 3px;
                        span{
                            
                        }
                    }
                    .reserve-btn {
                        order:1;
                        height: 48px;
                        width: 262px;
                    }
                    .society{
                        font-size: 20px;
                    }
                }


            }
        }

    }

}