body {
    font-family: "TrajanPro", "Noto Sans TC";
    font-size: 18px;
    overflow-x: hidden;
    @media(max-width:991px){
        font-size: 16px;
    }
}

a {
    transition: color .3s;
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}


input,
button,
textarea {
    outline: 0;
    -webkit-appearance: none;

}

input {
    padding: 0;
    border: 0;
    background: transparent;
}

textarea {
    border: 0;
    outline: 0;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

.ns {
    list-style: none;
}

.swiper-button {
    margin: 0;
    outline: none;
    &::after {
        display: none;
    }
}

.swiper-pagination-bullet {
    opacity: 1;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #C0C0C0;
    font-size: 16px;
}

::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #C0C0C0;
    font-size: 16px;
}

::-o-placeholder {
    /* Mozilla Firefox 19+ */
    color: #C0C0C0;
    font-size: 16px;
}

::-ms-placeholder {
    /* Internet Explorer 10+ */
    color: #C0C0C0;
    font-size: 16px;
}

::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #C0C0C0;
    font-size: 16px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

