@import url('scss/plugins/aos.css');
@import url('scss/plugins/bootstrap.min.css');
@import url('scss/plugins/swiper-bundle.min.css');
@import url('font/css/fontello.css');

@import 'scss/_reset.scss';
@import 'scss/_common.scss';

@import 'scss/_header.scss';
@import 'scss/_contact.scss';
@import 'scss/_footer.scss';

@import 'scss/_index.scss';
@import 'scss/_brand.scss';
@import 'scss/_vision.scss';
@import 'scss/_location.scss';
@import 'scss/_data.scss'; 
